.canva {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 3.68473px 3.68473px rgba(0, 0, 0, 0.25));
  background: #f1f1f1;
  border-radius: 30px;
  border: 0px solid var(--light-gray);
}

.canvaContent {
  /* padding: 20px; */

  border: 0px solid blue;
  height: 80%;

  display: flex;
  flex-direction: column;
}

.canvaHeader {
  padding: 10px 0 0 20px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0px solid red;

  margin-bottom: 10px;
}

.canvaTag {
  padding: 0 20px;

  width: 50px;
  height: 20px;
  border-radius: 31.5127px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 8px;

  border: 10px solid green;
}

/* Cores para as tags de acordo com a categoria */
.what {
  background: linear-gradient(
    90deg,
    rgba(131, 223, 129, 0.9) 0%,
    rgba(125, 223, 182, 0.9) 100%
  );
}
.how {
  background: linear-gradient(
    90deg,
    rgba(144, 218, 242, 0.9) 0%,
    rgba(131, 237, 244, 0.9) 100%
  );
}
.toWhom {
  background: linear-gradient(
    90deg,
    rgba(242, 144, 232, 0.9) 0%,
    rgba(244, 131, 158, 0.9) 100%
  );
}
.howMuch {
  background: linear-gradient(
    90deg,
    rgba(242, 135, 134, 0.9) 0%,
    rgba(244, 161, 117, 0.9) 98.96%
  );
}

.canvaTitle {
  padding: 0 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-gray);

  margin-bottom: 10px;
}

.canvaDescription {
  padding: 0 20px;
  
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  margin-bottom: 20px;
}

.canvaInput {
  margin: 0 0px;

  text-align: initial;
  background-color: white;

  width: 100%;
  height: 100%;
  resize: none;

  padding: 10px 10px;
  box-shadow: 0px 2.28182px 2.28182px rgba(0, 0, 0, 0.25);

  border: 0px solid red;
  border-radius: 20px;
  border-color: transparent;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.0205px;
  line-height: 161.52%;
}
.canvaInput::-webkit-scrollbar {
  width: 1rem;
}
.canvaInput:focus {
  outline: none !important;
}