.canva-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 80%;

  border: 0px solid red;

  position: relative;
}
.canva {
  width:70%;
  filter: drop-shadow(0px 3.68473px 3.68473px rgba(0, 0, 0, 0.25));
  background: #f1f1f1;
  border-radius: 30px;
  border: 0px solid green;
}
.canva-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 0px solid red;

  margin-bottom: 10px;
}

.canva-hint-icon {
  border: 0px solid blue; 
}
.canva-hint-icon:hover {
  color: var(--identity-blue);
  cursor: pointer;
}

.canva-tag {
  width: 113px;
  height: 33.66px;
  background: linear-gradient(
    90deg,
    rgba(131, 223, 129, 0.9) 0%,
    rgba(125, 223, 182, 0.9) 100%
  );
  border-radius: 31.5127px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;

  border: 0px solid green;
}
.canva-content {
  margin: 50px;
  border: 0px solid blue;

}
.canva-title {
  font-style: normal;
  font-weight: 600;
  font-size: 25.6329px;
  color: var(--dark-gray);

  margin-bottom: 10px;
}

.canva-description {
  font-family: 'Source Sans Pro';
  color: rgba(30, 30, 30, 0.75);

  font-size: 19.225px;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 20px;
}
.canva-input {
  text-align: initial;
  background-color: white;
  height: 175px;
  width: 100%;
  padding: 20px 25px;
  box-shadow: 0px 2.28182px 2.28182px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border-color: transparent;
  resize: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16.0205px;
  line-height: 161.52%;

  border: 0px solid red;
}
.canva-input::-webkit-scrollbar {
  width: 1rem;
}
.canva-input:focus {
  outline: none !important;
}

/* Cores para as tags de acordo com a categoria */

.what {
  background: linear-gradient(
    90deg,
    rgba(131, 223, 129, 0.9) 0%,
    rgba(125, 223, 182, 0.9) 100%
  );
}
.how {
  background: linear-gradient(
    90deg,
    rgba(144, 218, 242, 0.9) 0%,
    rgba(131, 237, 244, 0.9) 100%
  );
}
.to-whom {
  background: linear-gradient(
    90deg,
    rgba(242, 144, 232, 0.9) 0%,
    rgba(244, 131, 158, 0.9) 100%
  );
}
.how-much {
  background: linear-gradient(
    90deg,
    rgba(242, 135, 134, 0.9) 0%,
    rgba(244, 161, 117, 0.9) 98.96%
  );
}

.btn {
  background-color: var(--normal-blue);
  color: white;
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  
  border: 2px solid var(--normal-blue);
  border-radius: 50px;
  height: 50px;
  width: 50px;

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:disabled {
  background-color: var(--light-gray-4);
  border-color: var(--light-gray-4);
}

.ph {
  font-size: 30px;
}
.btn:not([disabled]):hover {
  transform: scale(1.4);
  transition: 0.2 ease;
}
