.card-option {
  background-image: #fff;
  min-height: 250px;
  height: 250px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
  cursor: pointer;
  margin: 2rem;
  
  display: flex;
  justify-content: space-between;

  border: 0px solid red;
}
.card-option:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease-out;
}

.information-container {
  display: flex;
  flex-direction: column;

  border: 0px solid blue;
  padding: 20px;
  padding-left: 40px;
  padding-right: 60px;
  flex: 2;

  text-align: justify;
}

.information-container h3 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 28px;

  margin-bottom: 10px;
}

.information-container p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
}

.image-container {
  border: 0px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
}

.image-container img {
  width: 95%;
  height: 95%;
}