.contentCard {
  height: 220px;
  width: 450px;

  border: 1px solid blue;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  padding: 25px;

  border: 1px solid var(--normal-blue);
  border-radius: 14px;
}

.title-card {
  font-size: 20px;
  line-height: 22px;

  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
}

.description-card {
  font-size: 15px;
}

.link-card {
  color: var(--normal-blue);
  font-weight: 600;
  font-size: 15px;
  width: 100%;

  border: 1px solid var(--normal-blue);
  border-radius: 15px;

  align-items: center;
  text-align: center;

  height: 33px;
  font-family: "montserrat", sans-serif;

  cursor: pointer;
}

.link-card:hover {
  background-color: var(--normal-blue);
  color: #F3F3F5;
}