:root {
  font-family: "montserrat", sans-serif;
  font-size: 62.5%;
  color: var(--dark-gray);

  --light-gray: #f2f2f2;
  --dark-gray: #1e1e1e;
  --dark-gray-2: #1e1e1ebe;
  --light-blue: #2cbdeb;
  --light-green: #6dc98b;
  --dark-red: #e45e5e;

  --h1-font-size: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background-color: #fff;
  min-height: 100%;
}
::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.26);
}
a {
  text-decoration: none;
  color: var(--dark-gray);
}
