:root {
  font-family: "montserrat", sans-serif;
  font-size: 62.5%;
  color: var(--dark-gray);

  /* Faltou definir alguns tons de branco. EX.: #f1f1f1 */
  --light-gray: #f2f2f2;
  --light-gray-2: #565656;
  --light-gray-3: #a0a0a0;
  --light-gray-4: #b6b6b7;
  --light-gray-5: #DBDBDB;
  --normal-gray: #a8a8a8;
  --normal-gray-2: #a7cdf033;
  --dark-gray: #1e1e1e;
  --dark-gray-2: #1e1e1ebe;
  --dark-gray-3: #1e1e1e45;

  --light-blue: #2cbdeb;
  --light-blue-2: #4fd6f6;
  --light-blue-3: #a7cdf0;
  --normal-blue: #5EA4E4;
  --normal-blue-2: #1AA7EC;



  --light-green: #6dc98b;

  --dark-red: #e45e5e;

  --light-white: #fff;

  --h1-font-size: 2rem;
  --p-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-color: var(--light-white);
  min-height: 100%;
}

::-webkit-scrollbar {
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.26);
}

a {
  text-decoration: none;
  color: var(--dark-gray);
}
