#action-plain {
  background-color: #fff;
  border: 0px solid red;
  padding: 40px;
}

.editable-rows {
  overflow: auto;

  max-width: 70vw;

  border: 0px solid blue;
}
button {
  all: unset;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0.5rem;
}
button:hover {
  font-weight: 600;
}
