.editable-list {
  margin-top: 3rem;
  padding-left: 4rem;
  overflow: auto;
}
.editable-list button {
  all: unset;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
.editable-list button:hover {
  font-weight: 600;
}
