.editable-rows {
  margin-top: 3rem;
  padding-left: 4rem;
  overflow: auto;
}
.editable-rows button {
  all: unset;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0.5rem;
}
.editable-rows button:hover {
  font-weight: 600;
}
