#entrepreneurial-activity {
  background-color: var(--light-white);
  padding: 40px;
  
  width: 77%;
}

.contentContainerCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  border: 0px solid red;

  gap: 20px;
}