#swot {
  background-color: #fff;
  padding: 40px;
  
  width: 77%;
}



.legend {
  display: flex;
  justify-content: flex-end;

  height: 50px;

  border: 0px solid red;
}
.legend span {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: start;
  padding-top: 1rem;

  margin-left: 20px;
}
.legend span b {
  display: inline-block;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-right: 0.5rem;
}



.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 0px solid red;
}
.list-row {
  width: 100%;
  display: flex;
  flex-direction: column;

  border: 0px solid blue;
}
.list-row .header {
  padding: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  border: 0.5px solid rgba(0, 0, 0, 0.7);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.list-row .content {
  display: flex;
  border: 0px solid green;
}
.list-row:nth-child(even) .header {
  border-radius: 0;
}
.list-row:nth-child(even) .content {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}