#home {
  background-color: #fff;
  border: 1px solid red;
}

.welcome-message {
  padding: 40px;
  display: flex;
  flex-direction: column;

  border: 1px solid blue;
}

.welcome-message h1 {
  font-size: 22px;
  margin-bottom: 10px;
}

.welcome-message h2 {
  font-size: 18px;
  color: rgb(124, 117, 117);
}


.menu-card-options {
  border: 3px solid green;

  margin: 40px;
  padding: 10px;
}