#home {
  background-color: var(--light-white);
  border: 0px solid red;
  padding: 40px;
}

.welcome-message {
  display: flex;
  flex-direction: column;

  border: 0px solid blue;
}

.welcome-message h1 {
  margin-bottom: 25px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 7px;
}

.welcome-message h2 {
  font-size: 22px;
  color: rgb(124, 117, 117);

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 7px;
}


.menu-card-options {
  border: 0px solid green;

  margin-top: 15px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}