.editable-list {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;

  border: 0.5px solid rgba(0, 0, 0, 0.7);

  flex: 1;
}
.editable-list textarea {
  all: unset;
  height: 100%;
  
  flex: 1;

  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 1rem;

  border: 0px solid red;

  white-space: pre-wrap;
  word-break: break-word;
}
.editable-list .tag {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.8rem 0;
  border-radius: 16px;
  color: #fff;
  width: 200px;
  margin: 0 auto;
  background-color: var(--light-green);
}
