.content-container-editable-row {
  position: relative;
  border: 0px solid red;
}

.general-editable-row {
  border: 0px solid red;
  overflow: auto;
}

.editable-row {
  border: 0px solid red;

  display: flex;
  min-height: 160px;
  
  margin-top: 20px;
  margin-bottom: 10px;
}

.editable-row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f8;
  z-index: -1;
}

.editable-row .input-control {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 300px;
  height: 100%;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 0.5px solid rgba(0, 0, 0, 0.7);
  border-right: 0px;
}

.input-control-autosize {
  border: 1px solid red;
}

.editable-row .input-control:last-of-type {
  border-right: 0.5px solid rgba(0, 0, 0, 0.7);
}

.editable-row .input-control .header {
  
  all: unset;
  width: 300px;
  text-align: center;
  margin-bottom: 0.5rem;
  
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
}

.editable-row .input-control .tag {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  border-radius: 16px;
  color: var(--light-white);
  width: 90%;

  border: 0px solid green;
}

.editable-row .input-control:nth-child(even) .tag {
  background-color: var(--normal-blue);
}

.editable-row .input-control:nth-child(odd) .tag {
  background-color: var(--light-green);
}

.editable-row .input-control textarea {
  all: unset;
  width: 90%;
  padding-top: 1rem;
  white-space: pre-wrap;
  word-break: break-word;

  border: 0px solid red;
}

.trash-icon {  
  border: 0px solid red;
  height: 25px;
  width: 25px;
}

.linkReference {
  position: absolute;
  top: 20px;
  left: -30px;

  height: 100px;
  width: 50px;
  border: 0px solid green;

  display: inline-block;

  z-index: 99999;
}