.editable-row {
  display: flex;

  border: 0px solid blue;
  
  margin-bottom: 20px;
  min-height: 160px;
}

.editable-row::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f8;
  z-index: -1;
}

.editable-row .input-control {

  margin: 0px;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 300px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  min-width: 300px;
  border: 0.5px solid rgba(0, 0, 0, 0.7);
  border-right: 0px;
  
  min-height: 100px;
}

.editable-row .input-control:last-of-type {
  border-right: 0.5px solid rgba(0, 0, 0, 0.7);
}

.editable-row .input-control .header {
  
  all: unset;
  width: 300px;
  text-align: center;
  margin-bottom: 0.5rem;
  
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
}

.editable-row .input-control .tag {
  text-align: center;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  border-radius: 16px;
  color: var(--light-white);
  width: 90%;

  border: 0px solid green;
}

.editable-row .input-control:nth-child(even) .tag {
  background-color: var(--normal-blue);
}

.editable-row .input-control:nth-child(odd) .tag {
  background-color: var(--light-green);
}

.editable-row .input-control textarea {
  all: unset;
  min-height: 70px;
  width: 90%;
  padding-left: 1 rem;
  padding-top: 1rem;
  white-space: pre-wrap;
  word-break: break-word;

  border: 0px solid red;

  flex: 1;
  /* overflow: hidden; */
}
