.container {
  background-color: #fff;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 0px solid red;

  width: 250px;
  height: 220px;

  border: 1px solid rgba(0, 0, 0, 0.26);
  border-radius: 20.08px;
}

h4 {
  font-size: 15px;
  margin-bottom: 10px;
}

.descriptionText {
  color: #565656;
  padding-right: 30px;
  margin-bottom: 10px;
}

.progressContainer {
  width: 100%;
  border: 0px solid blue;

  margin-bottom: 20px;
}

.progressHeader {
  display: flex;
  justify-content: space-between;
}

.relativeContainer {
  border: 0px solid green;

  height: 20px;
  display: flex;
  align-items: center;

  position: relative;
}

.not-progress-bar {
  background-color: #DBDBDB;
  height: 10px;

  width: 100%;

  border-radius: 27px;
  position: absolute;
}

.progress-bar {
  background-color: #5EA4E4;
  height: 10px;

  width: 10%;

  border-radius: 27px;
  position: absolute;
}