header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;

  height: 100vh;
  width: 23vw;
  max-width: 23vw;
  
  border-right: 2px solid #a8a8a8;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  max-height: 100px;
  width: auto;
}

header ul {
  flex: 1;
  display: flex;
  flex-direction: column;

  border: 0px solid red;

  padding-top: 20px;
}

header ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;

  height: 60px;
  display: flex;
  align-items: center;

  border: 0px solid yellow;
  border-radius: 10px;

  width: 100%;
}

header ul li:hover {
  background-color: #A7CDF033;
  color: #5EA4E4;
  transition: all 0.5s ease;
}

.logosImage {
  height: 18px;
  width: 18px;
  margin: 30px;
  margin-left: 20px;
}