header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;

  height: 100vh;
  width: 25%;

  border: 1px solid red;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  max-height: 100px;
  width: auto;
}

header ul {
  flex: 1;
  display: flex;
  flex-direction: column;

  border: 1px solid red;
}

header ul li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;

  height: 60px;
  display: flex;
  align-items: center;

  border: 1px solid yellow;
}

header ul li:hover {
  font-weight: 700;
  transition: all 0.5s ease;
}

.logosImage {
  height: 20px;
  width: 20px;
  margin: 30px;
}