
.headerNavBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-white);
  border-right: 1px solid var(--normal-gray);

  height: 100vh;

  width: 310px;
  min-width: 310px;
  max-width: 310px;

  z-index: 1000;
}

.logoContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoImage {
  max-height: 100px;
  width: auto;
}

.navUnorderedList {
  flex: 1;
  display: flex;
  flex-direction: column;

  border: 0px solid red;

  padding-top: 20px;
}

.navigationLi {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;

  height: 60px;
  display: flex;
  align-items: center;

  border: 0px solid yellow;
  border-radius: 10px;

  width: 100%;
}

.navigationLi:hover {
  background-color: var(--normal-gray-2) !important;
  color: var(--normal-blue) !important;
  transition: all 0.5s ease !important;
}

.selected {
  background-color: var(--normal-gray-2);
}

.logosImage {
  height: 18px;
  width: 18px;
  margin: 30px;
  margin-left: 20px;
}
