#business-model {
  background-color: #fff;
  padding: 40px;
  
  width: 77%;
  border: 1px solid red;
}
.business-model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.business-model-container h1 {
  color: #212121;
  font-size: 3rem;
  margin-bottom: 3rem;
}
