
.landingPage {
  display: flex;
  flex-direction: column;

  padding: 0 100px;
  border: 1px solid blue;
}

.headerLandingPage {
  width: 100%;
  height: 70px;

  border: 1px solid red;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.referencesContainer {
  display: flex;
  flex-direction: row;
}

.reference {
  margin: 20px;

  font-family: Montserrat;
  font-size: 19px;
  font-weight: 500;
  line-height: 6px;
  letter-spacing: 0em;
  text-align: center;
}

.registerButton {
  display: inline-block;
  height: 40px;

  margin-right: 20px;
  padding: 10px;

  background-color: var(--normal-blue);
  border-radius: 5px;

  color: var(--light-white);
  font-size: 15px;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
}

.loginButton {
  display: inline-block;
  height: 40px;

  margin-right: 20px;
  padding: 10px;

  border-radius: 5px;

  font-size: 15px;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: center;
}

.messageSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  border: 1px solid red;

}

.title {
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;

  width: 550px;
  margin-bottom: 20px;
}

.description {
  font-family: Source Sans Pro;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

  width: 350px;
  margin-bottom: 50px;
}

.backgroundImage {
  width: 400px;
}

.toolsContainer {
  display: grid;

  grid-template-columns: 1fr 1fr; /* 2 colunas */
  grid-template-rows: 1fr 1fr; /* 2 linhas */
  gap: 20px; /* Espaçamento de 20px entre os elementos */

  border: 1px solid blue;
}

.ToolCardContainer1 {
  /* Ocupa linhas 1 */
  grid-row: 1 / 2; 

  /* Ocupa colunas 1 */
  grid-column: 1 / 2; 
}

.ToolCardContainer2 {
  /* Ocupa linhas 1 */
  grid-row: 1 / 2; 

  /* Ocupa colunas 2 */
  grid-column: 2 / 3; 
}

.ToolCardContainer3 {
  /* Ocupa linhas 2 */
  grid-row: 2 / 3; 

  /* Ocupa colunas 1 */
  grid-column: 1 / 2; 
}

.ToolCardContainer4 {
  /* Ocupa linhas 2 */
  grid-row: 2 / 3; 

  /* Ocupa colunas 2 */
  grid-column: 2 / 3; 
}

.Ellipse {
  position: absolute;
  left: 0;

  z-index: -1;

  height: 700px;
}

.toolsSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 150px 0;

  border: 1px solid red;
}

.advantagesSection {
  border: 1px solid red;
  display: flex;
  padding: 50px 0;
}

.formSection {
  border: 1px solid blue;
  display: flex;
  padding: 50px 0;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image {
  height: 420px;
  margin: auto;
}

.navSection {
  background-color: var(--normal-blue);
  height: 200px;

  display: flex;
  
  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;
  color: var(--light-white);
}

.navMessage {
  flex: 1;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navLogoContainer {
  border: 1px solid red;
}

.navLogo {
  height: 70px;
}

.navDescription {
  padding-left: 30px;
  width: 300px;
}

.navContact {
  flex: 1;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navDescriptionContact {
  width: 250px;
  margin-bottom: 10px;
}