.section-header {
  display: flex;
  flex-direction: column;

  border: 0px solid blue;
}
.section-header h1 {
  font-size: var(--h1-font-size);
  margin-bottom: 25px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
}
.section-header p {
  font-size: 22px;
  color: rgb(124, 117, 117);

  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  margin-bottom: 25px;
}
