#form-page {
  width: 100%;
}
 
.formHeader {
  height: 80px;
  width: 100%;

  border: 0px solid red;
  background-color: var(--light-white);
  
  display: flex;
  align-items: center;
}

.topics-list {
  border: 0px solid green;
  display: flex;
  align-items: center;
  justify-content: space-around;

  list-style: none;

  width: 100%;
}

.topic-item {
  border: 0px solid blue;

  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 600;
  font-size: 14px;

  text-align: center;
  padding: 10px;
  cursor: pointer;

  color: var(--dark-gray);

  border-radius: 10px;
}

.selected {
  text-decoration: underline;
  color: var(--light-white);
  background: var(--normal-blue);
}

.topic-item:hover {
  text-decoration: underline;
  color: var(--light-white);
  background: var(--normal-blue);
}

.formContainer {
  border: 0px solid blue;
  width: 100%;
  
  background-color: #F7F7F8;

  display: flex;
  justify-content: center;

  padding-top: 50px;
  padding-bottom: 50px;
}

.formContentContainer {
  border: 0px solid green;
  border-radius: 20px;
  background-color: var(--light-white);

  width: 800px;
  padding: 50px;
}

/* Formulário */
.title {
  display: flex;
  justify-content: center;

  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 7px;
}

.pagesIndex-container {
  border: 0px solid red;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pageIndicator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--light-gray-3);

  font-size: 18px;
  font-weight: 500;
  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  margin: 10px;
}

.selected {
  color: var(--light-white);
  background-color: var(--normal-blue);
  border: 0px;

  text-decoration: none;
}

.questionTitle {
  /* font-family: Montserrat; */
  font-size: 17px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 10px;
}

#answer-textarea {
  width: 100%;
  min-height: 150px;
  height: 150px;
  padding: 10px;

  border-radius: 10px;
  border: 1px solid var(--light-gray-3);
  resize: vertical;

  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 10px;
}

#answer-textarea:focus {
  outline-color: var(--normal-blue);
}

.inputContainer {
  display: flex;
  height: 50px;

  margin-bottom: 10px;
}

.inputType {
  border: 1px solid var(--light-gray-3);
  border-radius: 10px 0 0 10px;

  width: 50px;
  
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* font-family: Montserrat; */
  font-size: 18px;
  font-weight: 500;
}

.inputElement {
  border: 1px solid var(--light-gray-3);
  border-radius: 0 10px 10px 0;

  width: 100%;
  height: 100%;
  padding: 10px;

  resize: vertical;

  font-family: Source Sans Pro;
  font-size: 18px;
  font-weight: 400;

}

.inputElement:focus {
  outline-color: var(--normal-blue);
}

.buttonsContainer {
  border: 0px solid red;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.previous-button, .next-button {
  border: 1px solid var(--dark-gray);

  border-radius: 10px;

  height: 50px;
  width: 120px;

  justify-content: center;
  text-align: center;

  color: var(--dark-gray);

  font-family: "Montserrat", sans-serif;

}

.next-button {
  background-color: var(--normal-blue);
  color: var(--light-white);
  border: 0;
}